.inventory-head-back{
}
.inventory-head-back .no-of-products{
    font-size: 0.9rem;
    color: grey;
}
.inventory-btn-back{
    overflow: visible;
    display: flex;
}
.inventory-add-btn{
    padding: 9px;
    display: flex;
    align-items: center;
    gap: 5px;
    width: 80px;
    justify-content: center;
    border-radius: 15px;
    border: 1px solid black;
    font-size: 0.8rem;
    font-weight: 400;    
    background-color: black;  
    color: white;
    transition: 0.4s;
    cursor: pointer;
    margin-left: 10px;
}


.inventory-table-back{
    height: 90%;
    overflow-y: scroll;
}
.inventory-table-back::-webkit-scrollbar{
    display: none;
}
