.form-main-back{
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height: 100dvh;
    background: linear-gradient(to right, rgb(207, 180, 130), rgb(238, 238, 238) 60%, rgba(209, 186, 145, 0.863));
}
.form-main{
    width:80%;
    height: 90%;
    border-radius: 15px;
    background-color: white;
    overflow: hidden;
    display: flex;
    box-shadow: -6px 8px 20px 4px rgba(91, 80, 57, 0.774);
    position: relative;
}


/*===============================================
                    CSS for half 1
 ================================================*/

.form-main .form-half1{
    width: 55%;
    background-image:linear-gradient(to right, rgba(74, 61, 36, 0.63), rgba(211, 211, 211, 0.204) 60%, rgba(209, 186, 145, 0.252)), url("../../assets/mens-shoes2.jpg");
    /*background-image:linear-gradient(to right, rgba(74, 61, 36, 0.63), rgba(211, 211, 211, 0.204) 60%, rgba(53, 47, 37, 0.515)), url("../../assets/mens-shoes2.jpg");*/
    background-position: center;
    background-size: cover;
    position: relative;
}
.form-half1-content-back{
    width: 100%;
    height: 100%;
    backdrop-filter: blur(1.5px);
    display: flex;
    align-items:center;
}
.form-half1-content{
    justify-content: center;
    color: white;
    height: 70%;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding:20px ;
    text-shadow: 2px 5px 5px rgba(0, 0, 0, 0.682);}

.arrow{
    width:30px;
    transform: rotate(180deg);
    margin-left: 10px;
    border-radius: 10%;
    background-color: rgba(128, 128, 128, 0.398);
    padding:10px;
    transition: 0.4s;
    cursor: pointer;
}
.arrow:hover{
    background-color: grey;
}
.form-half1-content h1{
    font-size: 55px;
    margin: 10px auto;
    padding:0px 15px;
    font-weight: 300;
    width: 100%;
}
.form-half1-content p{
    padding:0px 20px;
    font-size: 14px;
    color: white;
    font-weight: 200;
    width: 100%;
    margin: 10px auto;
}
/*===============================================
                    CSS for half 1
 ================================================*/

 .form-main .form-half2{
    background-color: white;
    padding:20px;
    height: 92%;
    width: 42%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}
.form-back-btn{
    position: absolute;
    top:0;
    left: 0;
    margin: 10px;
    border: none;
    background-color: transparent;
    color: grey;
    text-decoration: underline;
    cursor: pointer;
    display: none;
}
.form-back-btn:hover{
    color:rgb(174, 118, 54);
}
@media (width>=320px) and (width<=425px){
    .form-main{
        width:90%;
        height: auto;
    }
    .form-main .form-half1{
        display: none;
    }
    .form-main .form-half2{
        width: 100%;
        overflow: hidden;
    }
    .form-back-btn{
        display: block;
    }
    .alert-message p{
        font-size: 14px;
    }
    .alert-back .alert-icon{
        width: 18px;
    }
    .alert-back .close{
        width: 15px;
    }
}

@media (width>=600px) and (width<=1000px){
    .form-main{
    width:90%;
}
}