.aboutoption-main-back{
    border-top:1px solid rgb(194, 174, 138);
    min-height: 110vh;
    background-color: pink;
    display: flex;
    justify-content: center;
    align-items: center;
}
.aboutoption-main {
    border: none;
    display: flex;
    flex-direction: column;
    padding:0px 30px;
    /*background-color: yellow;*/
    
}
.aboutoption-main .heading1{
    
}
.aboutoption-main .heading1 h1{
    text-align: left;
    padding-left:0px;
    /*background-color: aqua;*/
    width:90%;
}
.aboutoption-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    overflow: visible;

    /*background-color: pink;*/
}
.aboutoption-content p{
    /*background-color: yellow;*/
    text-align: justify;
    font-size: 14px;
    width:90%;
    padding-bottom: 20px;
    font-weight: 300;
    margin:0px;
}
.aboutoption-content .aboutoption-image{
    opacity: 0;
    width:90%;
    height: 400px;
    background-image: linear-gradient(to right, rgba(228, 199, 145, 0.393), rgba(211, 211, 211, 0.278) 80%, rgba(227, 202, 156, 0.665)), url("../../../../assets/home-background1.jpg") ;
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    cursor: pointer;
    
}
.aboutoption-image h1{
    /*background-color: yellow;*/
    width:auto;
    text-align: center;
    font-size:clamp(1rem,5vw,3rem);
    font-weight: 200;
    letter-spacing: 10px;
    color:rgb(52, 52, 52);
}
