.products-card {
    opacity: 0;
    width: 230px;
    height: 430px;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
    border-radius: 20px;
    box-shadow: 0px 2px 15px 2px rgba(167, 155, 135, 0.548);
    margin: auto;
    background-color: white;
}

.product-image-back {
    width: 100%;
    height: 55%;
    background-color: white;
    position: relative;
    top: 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fav-product-icon{
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1000;
}
.fav-icon{
    color: rgb(218, 218, 218);
   font-size: 1.5rem;
   transition: 0.3s;
}
.product-image-back .product-image {
    height: 100%;
    object-fit: contain;
}

.product-image-back .image-hover {
    background-color: rgba(0, 0, 0, 0.633);
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    transform: translateX(-100%);
}

.image-hover .add-product-icon {
    background-color: #b59b6b;
    padding: 8px;
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    transition: 0.5s;
    transform: translateX(100%);
}

.product-image {
    width: 240px;
    background-color: transparent;
}

.product-info-back {
    background-color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

.product-info {
    padding: 12px 0px;
    width: 90%;
}

.product-info h5 {
    font-weight: 800;
    color: #b59b6b;
    font-size: 14px;
}

.card-price-back .card-price {
    display: flex;
    justify-content: space-between;
    width: 80%;
}
.product-info .card-price-back {
    display: flex;
    align-items: center;
}

.product-info .card-price-back h3 {
    font-size: 12px;
}

.product-info .card-price-back label {
    font-size: 20px;
    font-style: italic;
    font-weight: 400;
    color: #b59b6b;
    padding-left: 10px;
}

.product-info h3 {
    font-weight: 600;
    font-size: 16px;
    padding: 8px 0px;
    transition: 0.2s ease;
    cursor: pointer;
    max-height: 40px;
    overflow-y: scroll;
}

.product-info h3::-webkit-scrollbar {
    display: none;
}

.product-info h3:hover {
    color: rgb(109, 109, 109);
}

.product-info-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-info .rating {
    display: flex;
    align-items: center;
}

.size-back .size-no {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 5px;
    font-size: 10px;
    font-weight: 400;
    max-width: 100%;
}

.size-back .size-no .size-item {
    background-color: white;
    border-radius: 5px;
    outline: 1px solid #be9c5e;
    width: 27px;
    height: 27px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #be9c5e;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
}
.size-back .size-no .size-item-active{
    background-color:#c7a464e6 ;
    outline: 1px solid #c7a464e6;
    color:white;
}
.rating .icon-back {
    display: flex;
}

.rating label {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: grey;
    padding-left: 2px;
    font-weight: 400;
}

.card-btn {
    padding: 10px;
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border: none;
    font-weight: 600;
    font-size: 16px;
    color: white;
    background-image: linear-gradient(#b59b6b, #b59d70);
    outline: 1px solid #b59d70;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: background-image 0.3s;
}

.card-btn:active {
    background-image: linear-gradient(#baad945e, #c0b7a388);
}


@media (width>=320px) and (width<=425px) {
    .products-card {
        width: 100%;
        height: 450px;
        box-shadow: none;
        border-radius: 0px;
        padding: 10px 0px;
    }

   .image-hover{
    display: none;
   }

    .product-info-back {
        height: 240px;
        border-radius: 0px;
    }

    .product-info {
        padding: 12px 2px;
        overflow-y: hidden;
    }

    .size-back .size-no {
        gap: 5px;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
    }

    .size-back .size-no .size-item {
        width: 20px;
        height: 20px;
        margin: auto;
    }

    .card-price .discount-price {
        font-size: 0.9rem;
        text-align: right;
        margin-top: 10px;
    }

    .product-info .card-price-back label {
        width: 100px;
        font-size: 18px;
        display: flex;
        align-items: center;
    }

    .card-btn {
        width: 90%;
        border-radius: 15px;
    }
}

@media (width>=1440px) and (width<=1920px){
    .products-card {
        height: 500px;
        width: 300px;
        margin-bottom: 10px;
    }
}