*{
    padding:0px;
    margin:0px;
    font-family: "Ysabeau SC", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}
html{
    scroll-behavior: smooth;
}