
.adminAlert-back{
    position: fixed;
    top:0;
    width: 100%;
    padding: 12px ;
    z-index: 1800;
    display: flex;
    text-align: center;
    justify-content: space-between;
    transform: translateX(-100%);
}

.alert-back-active{
    animation: notify 2.5s ease-in-out;
}

.adminAlert-message {
    display: flex;
    align-items: center;
    font-size: clamp(0.8rem , 5vw , 1.2rem);
    gap: 5px;
}

.adminAlert-message label{
    font-size: 1.2rem;
    text-transform: capitalize;
}

.adminAlert-icon{
    margin: 0px 20px;
    width: 30px;
}

@media (width>=320px) and (width<=425px){
    .adminAlert-back{
    padding: 8px ;
    }
    .adminAlert-icon{
    margin: 0px 20px;
    width: 20px;
    }

    .adminAlert-message label,.adminAlert-message {
    font-size: 0.9rem;
    }
}